*{
    margin: 0;
    padding: 0;

}
.headind{
    height: 20vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notes-table{
    width: 100%;
    border: 1.7px solid black;
    border-collapse: collapse;
}
table ,th ,td{
    border: 1.7px solid black;

   
}
td{
  padding-left: 15px;
}
th {
  caret-color: transparent;
  text-align: center;
}

a{
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}
.content-t{
    border: 1px solid rgb(191, 185, 185);
   min-height: 60vh;
   margin: 0 20px 50px;
   box-shadow: -6px -6px 20px #e9e6e6d5;
   padding: 20px;
   border-radius: 4px;
   position: relative;
  }
  .links{
      cursor: pointer;
  }
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  .date{
    border-left: none !important;
    color: red;
    width: 10%;
  }
  .task{
    border-right: none !important;
   
  }
  #task{
    overflow-wrap: break-word;
  }
  .task-ellipsis {
    max-width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .button{
    background: linear-gradient( #939393 , #4e4e4e );
    color: white;
}
#scroll{
  border-radius: 50%;
  padding: 6px 13px;
  background-color: #524f4f;
  color: orange;
  font-size: 25px;
  float: right;
  position: fixed;
  display: block;
  bottom: 40px;
  right: 23px;

  
}
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  .pagination {
    position: absolute;
    bottom: 0;
    right: 22px;
    
}
.notes{
    display: flex;
    justify-content: center;
}
.text-note{
    height: 50vh;
    width: 97vw;
    resize: none;
    outline: none !important;
}
.add-note{
 margin: 20px;
}
@media screen and (max-width: 768px) {
body{
  background: black;
    color: white !important;
}
.text-notes{
  color: white !important;
}
.text-note {
  height: 50vh;
  width: 89vw;
  resize: none;
  outline: none !important;
}
#titlle , #notes{
  color: white;
    background: #242323;
    border: 1.5px solid #4c4949;
}
#titlle::placeholder , #notes::placeholder{
  color: rgb(152, 152, 152);
}

}